@media (min-width: 768px) {
    .md\:gap-6 {
        gap: 4.5rem !important;
    }
}

.pending_btn{
 background-color: #0064ff ;   
}

.login_signup_btn{
    color: #ff5a5a;
    font-size: 1.1rem;
    font-weight: 700;
}

.post_image{
    width: 40%;
    height: 40%;
    margin-left: 30%;
}

.nav-bar-icons{
    gap: 2.5rem !important;
}

.profile-image-img{
    width: 8rem;
    height: 8rem;
}

.banner-image{
    height: 7rem;
}

.dev-name{
    color: blue;
}



