@tailwind base;
@tailwind components;
@tailwind utilities;

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.loader {
    width: 60px;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader::before,
.loader::after {
    content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    border: 4px solid transparent;
}

.loader::before {
    border-top: 4px solid #3498db;
    border-left: 4px solid #3498db;
    animation: rotateClockwise 1.5s linear infinite;
}

.loader::after {
    border-right: 4px solid #e74c3c;
    border-bottom: 4px solid #e74c3c;
    animation: rotateCounterClockwise 1.5s linear infinite;
}

@keyframes rotateClockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateCounterClockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
